header{
	background:#F0F8FF;
	color: black;
	min-height:90px;
	border-top: #325C74 30px solid;
  	border-bottom: #C0D9D9 5px solid;
  	color:#202020;
  	font-family: Century Gothic black;
  	font-size: 20px;
  	font-weight: bold;
	padding: 0 100px 0 40px;
  	text-transform: uppercase;
    margin: -8px;
	margin-bottom: 30px;
}

body{
	background:#fdfdff;
}


.navigation{
	padding-left: 15px;
	padding-right: 100px;
	float:right;
}

.navigation li{
	display: inline-block;
	text-decoration: none;
	margin-right: 40px;
	font-size: 15px;
	margin-top: 30px;
}

 .navigation a:hover {
    color: #2E5090;
    
}

.navigation a {
	text-decoration: none;
	background-color:#F0F8FF;
	color:#202020;
	font-weight: bold;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin: 25px;
}

#about{
	color:#202020;
	margin: 10px;
	font-size: 28px;
	font-family: arial;
	margin-right: 500px;
}

aside{
  display: inline-block;
  width:50%;
  height: 200px;
  padding-left: 15px;
  padding-right: 100px;
  background:#F8F8FF;
  border-top: #325C74 5px solid;
  border-bottom: #325C74 5px solid; 
  border-left: #325C74 5px solid; 
  border-right: #325C74 5px solid; 
  clear: both;
  color:#202020;
  font-size: 25px;
  font-family: arial;

}


footer{
  padding:2px;
  margin-top:8px;
  color:#ffffff;
  background-color:#35586C;
  text-align: center;
  font-family: serif;
  text-align: center;
}


#home{
	background: url('../styles/images/cloudhaha.gif') ;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
 	height: auto;
} 

#RT{
	font-size: 40px;
	width: 60%; 
    word-wrap: normal;
    margin-left: 100px;
    color: #ffffff;
    margin-top: 80px;
    font-family: arial;
}

#RT1{
	margin: 40px;
	font-size: 25px;
	font-family: sans-serif;
	color:#202020;
}

#RT2{

	visibility: hidden;
	position: relative;
}

#RT2::after{
	visibility: visible;
	position: absolute;
	top: -70px;
	left: -10px;
	content: "\"No law shall be made respecting an establishment of religion, or prohibiting the free exercise thereof. The free exercise and enjoyment of religious profession and worship, without discrimination or preference, shall forever be allowed. No religious test shall be required for the exercise of civil or political rights.\" - Article III, Section 5.";
	margin: 50px;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
	color:#202020;
}	


#RT3{
	font-size: 25px;
	margin: 30px;
	font-family:arial;
	color:#202020;
}

#title2{
	text-align: center;
	background: #C0D9D9;
	width: 2000px;
	font-family: century gothic;
	color:#202020;
	margin: 80px;
	margin-left: -500px;
}

#examples{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	color: #101010;
}

#Respect{
	background: #C0D9D9;
	font-family: serif;
	color: #101010;
	font-size: 29px;
	font-family:arial;
	text-align: center;
}

#Knowledge{
	background: #F0FFFF;
	font-family: serif;
	color: #101010;
	font-size: 29px;
	font-family:arial;
	text-align: center;
}

#Accept{
	background: #C0D9D9;
	font-family: serif;
	color: #101010;
	font-size: 29px;
	font-family:arial;
	text-align: center;
}

br{
	line-height: 150%;
}


#image1 img, #image2 img{
	float: left;
	display: inline;
	margin-bottom: 50px;
}

#image1 img{
	width: 47%;
    height: 50%;
    margin-left: 40px;
    margin-right: 15px;
    border-top: #C0D9D9 2px solid;
	border-bottom: #C0D9D9 2px solid; 
	border-left: #C0D9D9 2px solid; 
	border-right: #C0D9D9 2px solid; 
}

#image2 img{
	width: 47%;
    height: 50%;
    border-top: #C0D9D9 2px solid;
	border-bottom: #C0D9D9 2px solid; 
	border-left: #C0D9D9 2px solid; 
	border-right: #C0D9D9 2px solid; 
}

#image1 img:hover{
	transform: scale(1.1);
}

#image2 img:hover{
	transform: scale(1.1);
}
